@{
    ViewData["Title"] = "Kurumsal Giriş";
}
@model LoginViewModel
@section navbar{
@await Html.PartialAsync("_navbar")
}
@if (ViewBag.IsSuccess != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewBag.IsSuccess
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2>Kurumsal Giriş</h2>

<form asp-action="CorporateLogin" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" placeholder="Kurumsal Email adresinizi girin" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" placeholder="Şifrenizi girin" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Giriş Yap</button>

    <div class="mt-3">
        <p>Hesabınız yok mu? <a asp-controller="Home" asp-action="CorporateRegister">Kayıt olun</a></p>
    </div>
</form>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}